.main {
  margin-top: 58px;/* edit with styled (height of header)*/
  position: relative;
  z-index: 10;
}

.mainLeft,
.mainRight {
  background: rgba(0,0,200,.1);
  max-width: 360px;
  min-width: 280px;
  width: 360px;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  top: 58px; /* edit to styled and get height of top panel of header*/
}

.mainLeft {
  left: 0;
}

.mainRight {
  right: 0;
}

.mainLRWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 16px;
  overflow-y: auto;
}

.mainCenter {
  min-height: 100vh;
  margin: 58px auto 0; /* edit to styled and get height of top panel of header*/
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  width: 100%;
  min-width: 500px;/* macbook 1440px - (360 * 2) edit to styled*/
}
